cosine_annealing_warmup @ https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup/tarball/master#egg=cosine_annealing_warmupmatplotlib
lightning
matplotlib
numpy
pandas
pyyaml
scikit-image
scikit-learn
scikit-video
scipy
tifffile
torch>=2.2
torchinfo
